<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">

:root{
    --cor-principal: #6e859f; 
    --cor-secundaria: #284260;
     
}









.body {
    background-color: purple;
}