:root {
    --text-color: #fff;
    --card-font-color: #b2f764;
    --card-back-color: #5fd1fb;

}

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap');


body {
    background: url(img/frutiger-aurora-1.jpg);
    font-family: "Overpass", sans-serif;
}

footer {
    background-color: #244374;
    color: white;
    bottom: 0;
    position: fixed;
    width: 100%;

}

footer p {
    text-align: right;
    font-size: 0.8rem;
    height: 1.1rem;
    margin: 0.5;
}

#container {
    display: flex;
}

.card:hover .card__content {
    transform: rotateY(180deg);
}

.card__content {
    margin: 1rem;
    background-color: var(--card-font-color);
    height: 100%;
    text-align: center;
    transform-style: preserve-3d;
    transition: transform 400ms ease-in-out;
}
.card__content p {
    margin-top: 2rem;
    padding: 3rem;
    margin-top: 4rem;
}

.card__content h3 {
    color: var(--text-color);
    border: 1px solid var(--text-color);
    text-align: left;
    padding: 0.6rem;
    margin: 0.5rem;
    background-color: rgb(50, 167, 167);
    position: absolute;
    border-radius: 0.6rem;
    font-size: 1.5vw;
    backface-visibility: hidden;
}





.card__content__question p {
   color:var(--text-color);
   font-weight: 500;
}



.card__content__question p {
   color:var(--card-back-color);
   font-weight: 500;
}


.card__content__answer,
.card__content__question{
     backface-visibility: hidden;
     position: absolute;
     height: 100%;
     width: 100%;

}

.card__content__answer{
    transform:rotateY(180deg) ;
}





