:root {
    --text-color: #fff;
    --card-font-color: #11e627;
    --card-back-color: #708ce8;

}

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap');


body{
    background: url(img/frutiger-aurora-1.jpg);
     font-family: "Overpass", sans-serif;
}
   
footer{
    background-color: #244374;
    color:  white;
    bottom:0;
    position: fixed;
    width: 100%;

}
footer p{
    text-align:right;
    font-size: 0.8rem;
    height: 1.1rem;
    margin: 0.5;
}

 #container {
    display: flex;
 }

 .card__content {
    margin: 1rem;
    background-color: var(--card-font-color);
    height: 100%;
 }

 .card__content h3 {
    color: var(--text-color);
    border: 1px solid var(--text-color);
    text-align: left;
    padding: 0.6rem;
    margin: 0.5rem;
    background-color:rgb(50, 167, 167);
    position: absolute;
    border-radius: 0.6rem;
    font-size: 1.5vw ;

 }