@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap');


body{
    background-color: aqua;
     font-family: "Overpass", sans-serif;
}
   
footer{
    background-color: black;
    color:  white;
    bottom:0;
    position: fixed;
    width: 100%;

}
footer p{
    text-align:right;
    font-size: 0.8rem;
    height: 1.1rem;
    margin: 0.5;
}